.App {
    height: 100%;
    color: white;
    text-align: center;
}

.App-header {
    padding-top: 50px;
    padding-left: 25px;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.Body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(75% - 175px);
}
